@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #363636;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container_section {
    @apply mx-auto w-full  xl:w-10/12 2xl:w-8/12 px-5 md:px-10 xl:px-0 mb-0 md:mb-2;
  }

  .container_section_md {
    @apply mx-auto w-full xl:w-4/5  3xl:w-[70%] px-4;
  }

  .custom-footer {
    @apply grid gap-4 grid-cols-12  lg:grid-cols-12 md:grid-cols-12  pt-10 pb-5;

    .footer-aside {
      @apply col-span-12 lg:col-span-5 md:col-span-12 flex flex-col justify-between mb-2;
    }
    .footer-nav {
      @apply col-span-6 lg:col-span-2 md:col-span-4   flex flex-col;
    }
    .footer-newsletter {
      @apply sm:grid-cols-6 lg:col-span-3 md:col-span-4 grid gap-2 mb-2;
    }
    .footer-copyright {
      @apply col-span-12 lg:col-span-12 md:col-span-12 border-t-2  border-light-primary py-2 border-opacity-5;
    }
  }

  .nav-bar {
    .nav-item {
      .dropdown {
        @apply flex items-center gap-2;

        svg {
          transition: all 0.3s ease;
        }

        &.active {
          svg {
            transform: rotate(180deg)
          }
        }
      }
    }

    .login-section {
      span {
        border-right:  2px solid #E0E0E0;
        padding: 6px 10px;

        &:last-child {
          border: none;
        }
      }
    }
  }
}

@layer base {
  ul {
    li {
      @apply text-base;
    }
  }
}
