@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #363636;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container_section {
    @apply mx-auto w-full  xl:w-10/12 2xl:w-8/12 px-5 md:px-10 xl:px-0 mb-0 md:mb-2;
  }

  .nav-bar {
    .nav-item {
      .dropdown {
        @apply flex items-center gap-2;

        svg {
          transition: all 0.3s ease;
        }

        &.active {
          svg {
            transform: rotate(180deg)
          }
        }
      }
    }

    .login-section {
      span {
        border-right:  2px solid #E0E0E0;
        padding: 6px 10px;

        &:last-child {
          border: none;
        }
      }
    }
  }
}

@layer base {
  ul {
    li {
      @apply text-base;
    }
  }
}
