@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #363636;
  background-color: #F8F8F8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container_section {
    @apply mx-auto w-full  xl:w-10/12 2xl:w-8/12 px-5 md:px-10 xl:px-0 mb-0 md:mb-2;
  }

  .container_section_md {
    @apply mx-auto w-full xl:w-4/5  3xl:w-[70%] px-4;
  }

  .custom-footer {
    
    .footer-copyright {
      @apply border-t-2  border-light-primary py-2 border-opacity-5 flex justify-center gap-x-10 gap-y-3 flex-wrap;
    }

    .footer-aside, 
    .footer-nav {
      @apply lg:w-1/4 w-full;
    }
    .footer-copyright p {
      position: relative;

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    .footer-copyright p::after {
    content: "";
    height: 3px;
    width: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    right: -20px;
    border-radius: 100px;
  }
  }

  .desktop-nav-bar {
    display: flex;
    .nav-item {
      .dropdown {
        @apply flex items-center gap-2;

        svg {
          transition: all 0.3s ease;
        }

        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .login-section {
      span {
        border-right:  2px solid #E0E0E0;
        padding: 6px 10px;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .mob-nav-bar {
    display: none;

    .mob-logo {
      width: 145px;
    }
  }

  .mobile-navbar {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e9f3d9;
    z-index: 999;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    transition: all 0.3s ease;
  }

  .mobile-navbar.show {
    top: 0;
  }


  .mobile-navbar nav ul {
    gap: 30px;
  }

  .mobile-navbar nav a{
    font-size: 20px;
  }


  .cross-btn {
    position: absolute;
    right: 20px;
    top: 40px;
  }


  .mobile-navbar {
    .mobile-dropdown {
      padding-top: 10px;
      padding-left: 20px;

      a {
        padding: 8px 0;
      }
    }

    .has-dropdown {
      flex-direction: column;
      align-items: flex-start;
    }

    .mobile-submit {
      .btn-arrow {
        svg {
          width: 8px;
          height: 5px;
        }
      }
    }

    .single-item {
      &.sign-in {
        border-top: 1px solid #2b2e412e;
        margin-top: 4px;
        padding-top: 40px;

        &.dark {
          border-color: #ffffff33;
        }
      }
    }

    .search-icon, 
    .theme-icon{
      display: flex;
      align-items: center;

      svg {
        width: 22px;
      }
    }
  }

  .comment-wrapper {
    margin-bottom: 20px;
    .comment-section {
      width: calc(100% - 70px);
    }
    .reply-section {
      width: calc(100% - 60px);
    }
  }

  .full-screen {
    min-height: calc(100vh - 99px);
  }

  .tab-list {
    padding: 40px 0 16px;
    position: relative;
    .tab-item {
      padding: 2px 10px ;
      font-size: 18px;
      // line-height: 1;
      font-weight: 600;
      position: relative;
      width: calc(100% / 5);
      text-align: center;

      &.message-tab {
      width: calc(100% / 2);

      }
      

      &::after {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #E9E9E9;
      }

      &:last-child::after {
        display: none;
      }

      &.active {
        color: #006DC0;

        &::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -18px;
          left: 0;
          background-color: #006DC0;
          z-index: 10;
          border-radius: 5px;
        }
      }
    }

    &::after {
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: #E9E9E9;
      z-index: 1;
      border-radius: 5px;
    }
  }

  .single-notification {
    padding: 18px 60px 16px;
    margin-bottom: 1px;
    &.unseen {
      background-color: #F2F2F2;
    }
  }

  .profile-activities {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E9E9E9;

    &:last-child {
      border: none;
    }
  }

  .edit-camera {
    bottom: -32px;
  }
   
  .edit-camera svg {
      width: 38px;
      height: 34px;
  }

  .added-role {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    .cross-icon {
      svg {
        @apply sm:w-[14px] sm:h-[14px] w-3 h-3;
      }
    }

    .social {
      svg {
        width: 26px;
      }
    }
  }

  .heading-1 {
    font-size: 44px;
    color: #264FA0;
    line-height: 1.23;
    font-weight: 600;
  }

  .heading-2 {
    font-size: 36px;
    line-height: 1.23;
    color: #264FA0;
    font-weight: 600;
  }

  .heading-3 {
    font-size: 30px;
    line-height: 1.33;
    font-weight: 600;
  }

  .heading-4 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
  }
  .heading-5 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 600;
  }

  .paragraph {
    font-size: 18px;
    line-height: 1.33;
  }

}

.review-overlay {
  background: linear-gradient(180deg, #00000000 28.75%, rgba(0, 0, 0, 0.00) 28.76%, #000000D9 60.8%); 
}


////feature section

.feature-section {

  .news-feature {
    width: calc(100% / 2 - 15px);
  }

  .news {
    color: #007B08;
  }

  .review {
    color: #006DC0;
  }

  .blogs {
    color: #F85100;
  }
}


///percentage circle

.circle-bg {
  fill: #1C1C1C;
  stroke: #3D3D3D;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart .circle {
  stroke: #DE0006;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(47, 48, 67, 0.02),
      0 6px 20px 0 rgba(47, 48, 67, 0.05);
  }

@layer base {
  ul {
    li {
      @apply text-base;
    }
  }

  textarea {
    resize: none;
  }
}


@media only screen and (max-width: 1024px) {
  .comment-wrapper .comment-section {
    width: calc(100% - 42px);
  }

  .comment-wrapper .reply-section {
    width: calc(100% - 38px);
  }

  .tab-list {
    padding-bottom: 5px;
  }

  .tab-list .tab-item {
    padding: 5px 10px;
    font-size: 14px;    
  }

  .tab-list .tab-item.active::before {
    bottom: -8px;
  }

  .tab-list .tab-item.message-tab.active::before {
    bottom: -9px;
  }

  .feature-section .news-feature {
    width: 100%;
  }

  .single-notification { 
    padding: 18px 16px 16px;
  }

  .edit-camera {
    bottom: -24px;
  }

  .edit-camera svg {
    width: 24px;
    height: 24px;
  }
  
  .heading-1 {
    font-size: 30px;
  }

  .heading-2 {
    font-size: 26px;
  }

  .heading-3 {
    font-size: 22px;
  }

  .heading-4 {
    font-size: 18px;
  }

}

@media only screen and (max-width: 915px) {
  .desktop-nav-bar {
    display: none;
  }

  .mob-nav-bar {
    display: flex;
  }

  .full-screen {
    min-height: calc(100vh - 86px);
  }

  .tab-list::after {
    bottom: 8px;
  }

  .tab-list .tab-item {
    width: calc(100% / 3);
    margin: 12px 0;
  }

  .edit-camera {
    bottom: -20px;
  }

  .edit-camera svg {
    width: 20px;
    height: 20px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #2669B1 , #2A3E8C);
  cursor: pointer;
  border-radius: 50px;
  border: 4px solid #B6B6B6;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: linear-gradient(to right, #2669B1 , #2A3E8C);
  border-radius: 50px;
  border: 4px solid #B6B6B6;
}
